<nav>
  <h1>Hola!</h1>
  <a href="/">
    {% if site.data.theme.social.gravatar %}
    <img src="https://www.gravatar.com/avatar/{{ site.data.theme.social.gravatar }}?s=200" id="gravatar" alt="My photo"/>
    {% else %}
    <img src="/logo.png" id="logo" alt="foursixnine's avatar"/>
    {% endif %}
  </a>
  <h2>I'm <a href="/">{{ site.data.theme.name }}</a> aka <a href="http://twitter.com/foursixnine/">@foursixnine</a>.</h2>
  <div id="bio">
    {% if site.data.theme.description %}
        {{ site.data.theme.description | replace: '!BLOG_EMAIL',site.data.theme.email }}
    {% endif %}
    {% if site.data.theme.origin %}
        {{ site.data.theme.origin }}
    {% endif %}
  </div>
  <div id="social">
    {% include social.html %}
  </div>
</nav>
